[ default ]
dir = {{ca_dir}}
ca = {{ca_cert_domains[0]}}

[req]
default_bits       = 2048
default_md         = sha512
# default_keyfile    = {{ca_dir}}/private/{{ca_cert_domains[0]}}.key
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no
encrypt_key        = no
private_key        = $dir/private/$ca.key

[req_distinguished_name]
C = "{{ca_country}}"
{#
# ST = VA
# L = SomeCity
#}
O = "{{ca_org_name}}"
OU = "{{ca_sub_unit_name}}"
CN = $ca

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
{% for domain in ca_cert_domains %}
DNS.{{loop.index}} = {{domain}}
{% endfor %}